:root {
  /* Vars */
  --banner-img: url(https://www.46mile.com/hubfs/Website%20Images%20and%20Info/GettyImages-816321472-fallback.jpg?t=1523042964205)
}
--theme-red: #A02E32;

body {
  /* Position */
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  /* Format */
  margin: 0;
}

.banner {
  /* Img */
  background-image: var(--banner-img);

  /* Position */
  align-items: center;
  display: flex;
  grid-column: 1 / 13;
  height: 802px;
}

.banner-fade,
#banner-title {
display: inline;
margin: 0;
}

.banner-text {
  /* Font */
  color: #000;
  font-family: raleway, sans-serif;
  font-size: 30px;
  font-weight: 700;
  /* line-height: 20px; */

  /* Position */
  margin-right: 0;
  width: 100%;
  padding: 3em;
}

.banner-text > p {
  /* Font */
  font-weight: 200;

  /* Format */
  margin-top: 0;
}

.banner-fade {
  /* Animation */
  animation-name: bannerfade;
  animation-duration: 3s;
  animation-iteration-count: infinite;

}

@keyframes bannerfade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

header {
    grid-column: 1 / 13;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header > * {
    margin: 1em;
}

nav > a {
  text-decoration: none;
}
